.botonSorpresa .boton {
	background: linear-gradient(to bottom right, #b974ff, #8611fc, #52069e);
	border: 2px solid #8611fc;
	border-radius: 8px;
	padding: 1em 2em;
	transition: all 0.2s;
	color: #fcf4ff;
	cursor: pointer;
	&:hover {
		background: none;
		border: 2px solid #8611fc;
	}
}
