@import "../index.css";

:root {
	--normal: #888888;
	--fighting: #d7db94;
	--flying: #60f4ff;
	--poison: #52008c;
	--ground: #767600;
	--rock: #2f2c12;
	--bug: #afe495;
	--ghost: #bcbcbc;
	--steel: #bcd9de;
	--fire: #ff7402;
	--water: #00ddff;
	--grass: #0c930e;
	--electric: #818132;
	--psychic: #ff69df;
	--ice: #f5feff;
	--dragon: #ff1919;
	--dark: #313131;
	--fairy: #43aebe;
	--unknown: #d5d5d5;
	--shadow: #121212;

	.normal {
		border: 1px solid var(--normal);
		box-shadow: 4px 4px 15px var(--normal);
		background-color: var(--normal);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.fighting {
		border: 1px solid var(--fighting);
		box-shadow: 4px 4px 15px var(--fighting);
		background-color: var(--fighting);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.flying {
		border: 1px solid var(--flying);
		box-shadow: 4px 4px 15px var(--flying);
		background-color: var(--flying);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.poison {
		border: 1px solid var(--poison);
		box-shadow: 4px 4px 15px var(--poison);
		background-color: var(--poison);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.ground {
		border: 1px solid var(--ground);
		box-shadow: 4px 4px 15px var(--ground);
		background-color: var(--ground);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.rock {
		border: 1px solid var(--rock);
		box-shadow: 4px 4px 15px var(--rock);
		background-color: var(--rock);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.bug {
		border: 1px solid var(--bug);
		box-shadow: 4px 4px 15px var(--bug);
		background-color: var(--bug);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.ghost {
		border: 1px solid var(--ghost);
		box-shadow: 4px 4px 15px var(--ghost);
		background-color: var(--ghost);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.steel {
		border: 1px solid var(--steel);
		box-shadow: 4px 4px 15px var(--steel);
		background-color: var(--steel);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.fire {
		border: 1px solid var(--fire);
		box-shadow: 4px 4px 15px var(--fire);
		background-color: var(--fire);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9face62e 100%);
		color: var(--black);
	}
	.water {
		border: 1px solid var(--water);
		box-shadow: 4px 4px 15px var(--water);
		background-color: var(--water);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.grass {
		border: 1px solid var(--grass);
		box-shadow: 4px 4px 15px var(--grass);
		background-color: var(--grass);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
		
	}
	.electric {
		border: 1px solid var(--electric);
		box-shadow: 4px 4px 15px var(--electric);
		background-color: var(--electric);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.psychic {
		border: 1px solid var(--psychic);
		box-shadow: 4px 4px 15px var(--psychic);
		background-color: var(--psychic);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
		color: var(--black);
	}
	.ice {
		border: 1px solid var(--ice);
		box-shadow: 4px 4px 15px var(--ice);
		background-color: var(--ice);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.dragon {
		border: 1px solid var(--dragon);
		box-shadow: 4px 4px 15px var(--dragon);
		background-color: var(--dragon);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.dark {
		border: 1px solid var(--dark);
		box-shadow: 4px 4px 15px var(--dark);
		background-color: var(--dark);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.fairy {
		border: 1px solid var(--fairy);
		box-shadow: 4px 4px 15px var(--fairy);
		background-color: var(--fairy);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.unknown {
		border: 1px solid var(--unknown);
		box-shadow: 4px 4px 15px var(--unknown);
		background-color: var(--unknown);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
	.shadow {
		border: 1px solid var(--shadow);
		box-shadow: 4px 4px 15px var(--shadow);
		background-color: var(--shadow);
		background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE62e 100%);
		color: var(--black);
	}
}

.tipe-shadow {
	background-color: var(--shadow);
}
.type-unknown {
	background-color: var(--unknown);
}
.type-fairy {
	background-color: var(--fairy);
}
.type-normal {
		background-color: var(--normal);
	}
.type-fighting {
		background-color: var(--fighting);
	}
.type-flying {
		background-color: var(--flying);
	}
.type-poison {
		background-color: var(--poison);
		color: var(--white);
	}
.type-ground {
		background-color: var(--ground);
	}
.type-rock {
		background-color: var(--rock);
	}
	.type-bug {
		background-color: var(--bug);
	}
	.type-ghost {
		background-color: var(--ghost);
	}
	.type-steel {
		background-color: var(--steel);
	}
	.type-fire {
		background-color: var(--fire);
	}
	.type-water {
		background-color: var(--water);
	}
	.type-grass {
		background-color: var(--grass);
	}
	.type-electric {
		background-color: var(--electric);
	}
	.type-psychic {
		background-color: var(--psychic);
	}
	.type-ice {
		background-color: var(--ice);
	}
	.type-dragon {
		background-color: var(--dragon);
	}
	.type-dark {
		background-color: var(--dark);
	}