Header {
  position: fixed;
}
.favoritos {
  padding: 8em;

  & .layoutFavoritos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4em;
  }
}
& .botonAtras {
  position: fixed;
  right: 0;
  padding: 1.3rem 3rem;
  z-index: 1;
  cursor: pointer;
}
