main {
	/* display: grid;
	grid-template-columns: 1fr 1fr; */
	display: flex;
	justify-content: center;
	padding-top: 40px;
	flex-wrap: wrap;
	align-items: center;

	& .botones {
		display: flex;
		gap: 40px;
		margin-bottom: 40px;
	}

	& button,
	select {
		padding: 20px;
		border-radius: 8px;
		font-size: 16px;
		border: 1px solid black;
		transition: all 0.2s;

		&:active {
			transform: scale(1.1);
		}
	}

	& .main-d {
		padding-left: 60px;
		display: grid;
		align-items: center;
/* 
		& .cards-layout {
			margin-top: 4em;
		} */
	}
}

.titlePage {
	color: white;
	line-height: 3em;

	& h1 {
		font-size: 3em;
		margin: 0;

		& span {
			background: linear-gradient(to bottom right, #ffdcdc, #fc1111, #870505);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	& p {
		font-size: 1em;
		line-height: 1.2em;
		color: #717171;
	}
}
