@keyframes zoom-card {
	0% {
		transform: scale(3);
		filter: blur(1.5rem);
	}
	80% {
		transform: scale(0.7);
		filter: blur(0);
	}
	100% {
		transform: scale(1);
	}
}

.contentPokeDetails{
	position: absolute;
	display: grid;
	padding: 3em;
	place-content: center;
	left: 50%;
	transform: translateX(-50%);
	animation: zoom-card 0.2s linear;
}

.pokeDetails {
	background-color: #1f1f1ff7;
	display: grid;
	place-content: center;
	width: max-content;
	height: max-content;
	border-radius: 8px;

	& .pokeDetailContainer {
		width: max-content;
		display: grid;
		gap: 2em;
		padding: 2em;

		& .pokeDetailMain {
			display: flex;
			gap: 4em;

			& .pokemon {
				display: flex;
				flex-direction: column;
				align-items: center;

				& .pokemonImage {
					display: flex;
					gap: 2em;
					align-items: center;
					& .imageP img {
						filter: drop-shadow(0px 0 32px #a44c31);
						width: 90%;
					}
				}
			}

			& .pokemonDetailsCard {
				width: 350px;
				height: 550px;
				overflow-y: scroll;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 2em;
				border-radius: 8px;
				padding: 2em;
				background-color: #3e3e3e;

				& .nameNum {
					display: flex;
					justify-content: space-between;
					& h3 {
						margin: 0;
						text-transform: capitalize;
					}
				}
				& .pokDetTipos {
					& h4 {
						margin: 0;
					}
					& .spanTypeName {
						text-transform: capitalize;
						margin-right: 1em;
					}
				}
				& .pokeDescription {
					& h4 {
						margin: 0;
					}
					& p {
						margin: 0;
						height: 100px;
						overflow-y: scroll;
					}
				}
				& .pokemonCarateristicas {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 1em;
					border-radius: 8px;
					padding: 1em;
					background-color: #484747;
				}
				& .pokeDebilidad {
					& h4 {
						margin: 0;
					}
				}
			}
		}
		& .beforeNextPokemon {
			display: flex;
			justify-content: space-between;
			& .beNePo {
				cursor: pointer;
			}
		}
	}
}

.salirPokeDetails {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2em;
	cursor: pointer;
}


.evolucionContainer {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 450px;
	overflow-x: scroll;
	padding: 1em;

	& .evolucion {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: end;
		margin-bottom: 0;
		cursor: pointer;
	}
}
