@import "./color-types.css";

.baby {
  height: 40px;
}
.small {
  height: 60px;
}
.big {
  height: 150px;
}
.monster {
  height: 200px;
}
.monument {
  height: 300px;
}

.content-preferCard {
  width: 300px;
  height: 320px;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;

  & picture img {
    transition: all 0.2s;
  }

  & .preferCard-details {
    color: #ccc;

    & h5 {
      margin: 0;
    }
    
    & .preferCardOptions {
      display: flex;
      gap: 8px;

      & div img {
        width: 16px
      }

      & .optionsFavorite {
        display: flex;
        flex-direction: column;

        & p {
          margin: 0;
          cursor: pointer;
          z-index: 1;

          &:hover {
            filter: drop-shadow(0 0 5px #ccc);
          }

          &:hover + ul {
            display: block;
          }
        }
        & ul {
          position: absolute;
          display: none;
          margin: 0;

          &:hover {
            display: block;
          }
        }
      }
    }
  }
  
  &:hover img{
    filter: drop-shadow(0 0 5px #ccc);
  }

}