@import "../index.css";

nav ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin: 0;
}
li {
	list-style: none;
	cursor: pointer;
	color: var(--white);
	transition: all 0.2s;

	&:hover {
		color: white;
		border-bottom: 1px solid #fff;
	}
	&:active {
		color: #d02222;
	}
}
