.renderH {
	width: max-content;
	border-radius: 8px;
	padding-bottom: 1em;
	&:hover ul {
		display: block;
	}
	&:hover .titleH {
		padding-left: 1em;
	}
	&:hover .titleH span {
		display: none;
	}
	& .titleH {
		display: flex;
		align-items: center;
		gap: 1em;
		transition: all 0.2s;
		& h4 {
			margin: 0;
		}
		& span img {
			width: 10px;
		}
	}
	& ul {
		display: none;
		position: absolute;
		z-index: 1;
		height: 400px;
		overflow-y: scroll;
		margin: 0.5em 0 0 0;
		padding: 0;
		& li {
			margin: 0;
			padding: 4px 8px;
			font-size: 10px;
			background-color: rgb(52, 52, 52);
			cursor: pointer;
			&:hover {
				background-color: black;
			}
		}
	}
}
